<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/soporte.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="/src/Iconos/logo.png" alt="Logo">
            </div>
            <div class="navbar-right">
                <a href="/index.html">INICIO</a>
                <a href="/templates/agentes.html">Agentes</a>
                <a href="/templates/login.html">Login</a>
                <a href="/templates/registro.html">Registrarse</a>
                <a href="/templates/soporte.html">Soporte</a>
            </div>
            <div class="mobile-menu-button">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="mobile-menu">
                <a href="/index.html">INICIO</a>
                <a href="/templates/agentes.html">Agentes</a>
                <a href="/templates/login.html">Login</a>
                <a href="/templates/registro.html">Registrarse</a>
                <a href="/templates/soporte.html">Soporte</a>
            </div>
        </nav>
    </header>

    <div class="container">
        <form id="contactForm" action="https://formspree.io/f/xnqkkbov" method="POST">
          <h2 class="titulo-seccion">¿Tienes algun problema? Contactanos</h2>
    
          <label for="problema">Tipo de problema:</label>
          <select id="problema" name="problema" required>
            <option value="" disabled selected>Selecciona un problema</option>
            <option value="problema1">Problema 1</option>
            <option value="problema2">Problema 2</option>
            <option value="problema3">Problema 3</option>
          </select>
    
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
    
          <label for="email">Correo electrónico:</label>
          <input type="email" id="email" name="email" required>
    
          <label for="mensaje">Descripción del problema:</label>
          <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
    
          <button type="submit">Enviar</button>
        </form>
      </div>

      <footer>
        <div class="left-section">
          <ul>
            <li>
              <a href="https://www.youtube.com/@VALORANTlatam/" target="_blank">
                <img src="/src/Iconos/youtube.svg" alt="Icono YouTube">YOUTUBE    
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/valorantlatam/" target="_blank">
                <img src="/src/Iconos/instagram.svg" alt="Icono Instagram">INSTAGRAM
              </a>
            </li>
            <li>
              <a href="https://playvalorant.com/es-es/" target="_blank">
                <img src="../src/Iconos/download.png" alt="Icono Descargar">DESCARGAR
              </a>
            </li>
            <li>
              <a href="https://www.riotgames.com/es" target="_blank">
                <img src="/src/Iconos/riot.png" alt="Icono Riot">RIOT
              </a>
            </li>
          </ul>
        </div>
        <div class="right-section">
          <ul>
            <li>
                <a href="../index.html">INICIO
                  <img src="/src/Iconos/home.png" alt="Icono Inicio">
                </a>
            </li>
            <li>
                <a href="/templates/agentes.html">AGENTES
                    <img src="/src/Iconos/icoval.png" alt="Icono Agentes">
                </a>
            </li>
            <li>
                <a href="/templates/login.html">LOGIN
                    <img src="/src/Iconos/login.png" alt="Icono Login">
                </a>
            </li>
            <li>
                <a href="/templates/soporte.html">SOPORTE
                    <img src="/src/Iconos/soporte.png" alt="Icono Soporte">
                </a>
            </li>
          </ul>
        </div>
    </footer>
    
    <script src="/js/soporte.js"></script>
</body>
</html>